@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Oswald:wght@700&display=swap');

/* For Game titles -> font-family: 'Oswald', sans-serif; */
html
{
    font-family: 'Heebo', sans-serif;
    background-color: #3D0076;
    color: #F7F0F0;
}
h1
{
    text-align: center;
}
section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #003F9D;
    border-radius: 1em;
    margin-bottom: 1em;
    transition: transform .5s;
    box-shadow: 10px 10px 20px black;
}
section:hover
{
    transform: scale(1.02);
}
section img
{
    width: 90%;
    border-radius: 1em;
    margin: 1em;
}
div
{
    padding: 1em;
    font-family: 'Oswald', sans-serif;
}
#desc
{
    grid-column: 1/3;
}